.background {
	width: 400px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
}

.background--active {
	background: #a6b5ff;
}

.picture {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.picture--active {
	border: 10px solid #a6b5ff;
}
